.pkmnsearch-bar{
            width: 100%;
            max-width: 700px;
            background: rgba(173, 185, 209, 0.7);
            outline-style: solid;
            outline-color: rgb(82, 98, 128);
            display: flex;
            align-items: center;
            width: 70%;
            margin: auto;
            border-radius: 60px;
            padding: 5px 40px;
}

.pkmnsearch-bar input{
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 5px 0px;
        font-size: 18;
}
::placeholder{
        color: rgba(173, 185, 209);
}

.pkmntgtlvl{
            width: 100%;
            max-width: 700px;
            background: rgba(173, 185, 209, 0.7);
            outline-style: solid;
            outline-color: rgb(82, 98, 128);
            display: flex;
            align-items: center;
            width: 70%;
            margin: auto;
            position: relative;
            top: 90px;
            border-radius: 60px;
            padding: 20px 30px;
}

.pkmntgtlvl p{
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        position: relative;
        top: 15px;
        left: 105px;
        font-size: 25;
}

.pkmnlevelsel {
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        position: relative;
        left: 400px;
        font-size: 20;
}

.pkmnlevelsel input{
        background: rgba(70,80,110,.5);
        width: 100%;
        max-width: 45px;
        flex: 1;

        border: 0;
        outline: none;
        font-size: 15;
}

.pkmntgtlevel-input{
        background: rgba(70,80,110,.5);
        width: 100%;
        max-width: 45px;
        flex: 1;
        border: 0;
        outline: none;
        font-size: 15;        
}
